:root {
  --blanco: #ffffff;
  --oscuro: #291946;
  --primario: #9a031e;
  --secundario: #fb8b24;
  --terciario: #e36414;
  --font-color: #e62174;
}

/* Full Page */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  margin: 5rem 5rem;
}

/* First Section */

.box-one {
  position: relative;
  border-radius: 50px 0px 0px;
  border-color: var(--font-color);
  border-width: 2px;
  border-style: solid;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}

.box-one:hover img {
  transform: scale(1.1);
}

.box-one:hover .cover-text {
  visibility: visible;
}

.image {
  width: 350px;
  height: 620px;
}

.image img {
  width: 350px;
  height: 620px;
  object-fit: cover;
  transition: 0.5s ease;
}

.cover-text {
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #e62174;
  opacity: 0.8;
  width: 350px;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--blanco);
  visibility: hidden;
  transition: 0.5s ease;
}

/* Second Section */

.box-two {
  width: 350px;
  height: 310px;
}

.social-media {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.social {
  width: 25px;
  height: 25px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #fb8b24;
  border-radius: 50%;
}

.title {
  display: flex;
  text-align: start;
  letter-spacing: -0.2rem;
  color: var(--font-color);
}

h1 span {
  font-size: 4.5rem;
}

h1 .port {
  font-size: 2.3rem;
  color: var(--oscuro);
}
.name {
  font-size: 3.1rem;
}

.thin-image {
  border-color: var(--font-color);
  border-width: 2px;
  border-style: solid;
  background-image: url(../resources/banner.jpg);
  background-size: cover;
  width: 350px;
  height: 20px;
}

.eye-box{
  position: absolute;
  margin-top: 1.3rem;
  cursor: pointer;
  overflow: hidden;
}
.eye-box:hover .eyes-image {
  transform: scale(1.1);
}

.eye-box:hover .eye-text {
  visibility: visible;
}
.eyes-image {
  width: 350px;
  height: 100px;
}

.eyes-image img {
  width: 350px;
  height: 100px;
  border-color: var(--font-color);
  border-width: 2px;
  border-style: solid;
  object-fit: cover;
  transition: 0.5s ease;
}

.eye-text {
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #e62174;
  opacity: 0.8;
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--blanco);
  visibility: hidden;
  transition: 0.5s ease;
}

/* Third Section */

.box-three {
  display: flex;
  flex-direction: row;

  max-width: 350px;
  height: 310px;
}

.body-image {
  border-color: var(--font-color);
  border-width: 2px;
  border-style: solid;
  background-image: url(../resources/medium.jpg);
  background-size: cover;
  width: 180px;
  height: 220px;
}

.mouth-image {
  border-color: var(--font-color);
  border-width: 2px;
  border-style: solid;
  margin-left: 0.6rem;
  background-image: url(../resources/tiny.jpg);
  width: 160px;
  height: 60px;
}

.text {
  margin-top: 4rem;
}
